* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 55%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: lightgrey;
  overflow: hidden;

  @include respond(tab-land) {
    flex-direction: column-reverse;
  }

  @include respond(phone) {
    flex-direction: column-reverse;
    justify-content: space-around;
    padding-bottom: 1rem;
  }
}

.sm-font {
  font-size: 1.4rem !important;

  @include respond(phone) {
    font-size: 0.8rem;
  }
}
