@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 45em) {
      @content;
    }
  }

  @if $breakpoint == bridge {
    @media (max-width: 55em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 100em) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 90em) {
      @content;
    }
  }
}

@mixin scroller {
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: darken(#477148, 16%);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      darken(rgb(71, 113, 72), 10%),
      darken(#477148, 16%)
    );
    border-radius: 5px;
  }
}
