.btn-play {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 3rem;
  padding: 1rem;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #477148;
  font-weight: bold;
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 40;
  cursor: pointer;
  border: none;
  border-radius: 3px;

  @include respond(tab-land) {
    width: 40%;
    height: 100%;
    margin: 0.5rem 0 0.5rem 0.5rem;
  }

  &:hover {
    background-color: rgb(230, 230, 230);
  }

  &:active,
  &:focus {
    outline: none;
  }
}
