.end-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);

  &__content {
    position: absolute;
    height: 45%;
    width: 45%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: #fff;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    color: #477148;
  }
}
