.score-board {
  position: relative;
  height: 10rem;
  width: 100%;
  background-color: rgb(165, 13, 13);
  margin-bottom: 2rem;
  clip-path: polygon(
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%
  );
  padding: 1rem;
  box-shadow: inset 5px 5px 1rem rgba(78, 4, 4, 0.4),
    inset -4px -4px 1.2rem rgba(80, 6, 6, 0.35);

  @include respond(tab-land) {
    height: 90%;
    width: 20%;
    padding: 0.5rem;
  }

  &__container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    height: 85%;
    width: 85%;
    background-color: #000;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.4),
      inset -2px -2px 5px rgba(255, 255, 255, 0.4),
      2px -2px 3rem rgba(0, 0, 0, 0.6);
    user-select: none;
    transition: all 0.2s;
    padding: 0 2px;

    @include respond(tab-land) {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
