.side-bar {
  width: 13%;
  padding: 10rem 3rem;

  @include respond(tab-land) {
    width: 90vw;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
  }

  &__heading {
    background-color: lightgrey;
    color: darken(rgb(71, 113, 72), 5%);
    text-align: center;
  }

  .title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include respond(tab-land) {
      font-size: 1.4rem;
    }

    @include respond(phone) {
      font-size: 1.2rem;
      letter-spacing: 0;
    }
  }
}
