.stage-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: radial-gradient(
    darken(rgb(71, 113, 72), 10%),
    darken(#477148, 16%)
  );
  height: 95%;
  width: 88%;
  margin-top: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  padding: 3.5rem 2rem 2rem 2rem;
  margin-left: 1rem;
  box-shadow: inset 0.8rem 0.8rem 0.9rem rgb(20, 36, 20),
    inset -0.8rem -0.8rem 0.8rem rgb(16, 29, 16), 1px 1px 0.5rem rgb(0, 0, 0);

  @include respond(tab-land) {
    height: 96vh;
    width: 99vw;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }

  @include respond(phone) {
    height: 90vh;
    width: 99vw;
    margin: 1rem 1.5rem 1rem 0.3rem;
    padding: 2.5rem 1rem 1rem 1rem;
  }

  .start-game-text {
    font-size: 2rem;
    color: #fff;
  }
}

.stage-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}
